$background-color: white;
$ticket-background-color: #fad37f;
$shadow-color: #957a4b;
$board-background-color: #f9bb42;
$board-border-color: #eab470;
$board-cell-color: #ff9b00;
$red: #990100;
$button-color1:#b0b500;
$button-color2:#4b7100;

$grey: #d0cdbf;
$light-grey: #e9e6d8;

$main-size: 1em;

body {
  background-color: $background-color;
}

%redText {
  font-family: Arial,Helvetica,Verdana,sans-serif;
  color: $red;
  text-align: center;
}

#content {
  margin: $main-size 0px;
  display: table;
  width: 45%;
  //TODO adapt this to see if it fits to the content
  height: 40 * $main-size;
  margin-left: auto;
  margin-right: auto;
  background-color: $ticket-background-color;
}

%ticketSection {
  box-sizing: border-box;
  padding: $main-size/2 $main-size;
  display: table;
  width: 100%;
}

%numbersTable {
  width: 95%;
  height: 95%;
  margin: auto;
}

%numbersTh {
  width: 100%;
  height: $main-size;
  border: solid $board-border-color 1px;
  background-color: $board-background-color;
  @extend %redText;

}

%numbersTd {
  border: solid $board-cell-color 1px;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  background-color: white;
  color: $board-cell-color;
  text-align: center;
  cursor: default;
}

#info {
  @extend %ticketSection;
  padding-top: $main-size;
  padding-bottom: 0px;
  height: 50%;
}

#numbers {
  display: table-cell;
  width: 60%;
  table {
    @extend %numbersTable;
    height: 100%;
    th {
      @extend %numbersTh;
    }
    td {
      @extend %numbersTd;
      border-radius: 50%;
      opacity: 0.3;
      &.show {
        transition: all 0.8s ease-out;
        opacity: 1;
      }
    }
  }
}

#nextNumber {
  display: table-cell;
  position: relative;
  width: 40%;
}

%container {
  display: table;
  position: absolute;
  box-sizing: border-box;
}

.ball {
  @extend %container;
  background-color: white;
  width: 10 * $main-size;
  height: 10 * $main-size;
  margin: 16%;
  border-radius: 50%;
  padding: 1.5 * $main-size;
  box-shadow: inset 0px 0px 25px #8e8e8e;
  .ballNumber {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    @extend %redText;
    font-size: 4 * $main-size;
    border-radius: 50%;
    border: 5px solid $red;
    width: 200px;
  }
  .hidden {
    color: transparent;
  }
}

#remainingBalls {
  @extend %ticketSection;
  margin-bottom: $main-size/2;
  height: 5%;
  table {
    @extend %numbersTable;
    height: 100%;
    td {
      @extend %numbersTd;
      border-radius: 50%;
      background-color: $ticket-background-color;
      &.filled {
        transition: all 0.8s ease-out;
        background-color: white;
      }
    }
  }
}

#boards {
  @extend %ticketSection;
  padding-top: $main-size;
  border-top: solid #ffffff 1px;
  height: 30%;
}

%crossDraw {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-image: url("../img/matched.png");
  background-repeat: no-repeat;
  top: 0px;
  left: 0px;
}

.board {
  display: table-cell;
  width: 25%;
  table {
    @extend %numbersTable;
    th {
      @extend %numbersTh;
    }
    td {
      @extend %numbersTd;
      position: relative;
      &.star {
        background-color: $ticket-background-color;
      }
      &.light {
        transition: all 0.8s ease-out;
        background-color: $ticket-background-color;
        .cross {
          @extend %crossDraw;
          transition: all 0.8s ease-out;
          opacity: 0.2;
        }
      }
      .cross {
        @extend %crossDraw;
        opacity: 0;
      }
      .checked {
        transition: all 0.8s ease-out;
        opacity: 1;
      }
    }
  }
}

#actions {
  @extend %ticketSection;
  padding-bottom: $main-size;
  padding-top: 0px;
  height: 15%;
}

.bingoButton {
  display: table-cell;
  width: 8 * $main-size;
  height: 2 * $main-size;
  border-radius: $main-size;
  color: white;
  background: linear-gradient($button-color1, $button-color2);
  margin: 12%;
  border: 0px;
}

#turbo {
  display: table-cell;
  width: 20%;
}

#prizes {
  display: table-cell;
  width: 60%;
}

#prizeContainer {
  @extend %ticketSection;
  padding: 0px;
  height: 100%;
}

.prize {
  display: table-cell;
  height: 100%;
  width: 15%;
  padding-top: $main-size/2;
  border-radius: $main-size/2;
  table {
    @extend %numbersTable;
    border-spacing: 1px;
    width: 90%;
    height: 75%;
    td {
      @extend %numbersTd;
      margin: 0px;
      &.matched {
        background-color: $ticket-background-color;
      }
    }
  }
  .prizeAmount {
    @extend %redText;
    font-size: 0.9 * $main-size;
  }
}

.winninClassWon {
  background-color: $board-cell-color;
  transition: all 0.8s ease-out;
}

#play {
  position: relative;
  display: table-cell;
  width: 20%;
}

.buttonContainer {
  @extend %container;
}

.disabled {
  background: lightgray;
}

#winningInfo {
  padding: $main-size;
  width: 23.5 * $main-size;
  height: 10 * $main-size;
  margin: auto;
  background: linear-gradient($board-cell-color, $board-background-color);
  border-radius: 5px;
  text-align: center;
  color: white;
  font-family: Arial,Helvetica,Verdana,sans-serif;
}

.popupTitle {
  font-size: 2 * $main-size;
  margin: 0px;
}

.prizePopupAmount {
  color: $red;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  font-weight: bold;
  font-size: 3 * $main-size;
  margin: 25px;
}
